Dockerfile
flake.*
README.md
.git
.gitignore
.dockerignore

#### Keep in sync with .gitignore
# Composer will redownload and scaffold core and dependency files, keep only custom stuff
/vendor
# Local settings
/local.settings.php
# Local state
/data

.phpunit.cache
####
