<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="web/core/tests/bootstrap.php" colors="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutChangesToGlobalState="true"
  failOnWarning="true"
  printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
  cacheResult="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://localhost:8080"/>
    <includePath>web</includePath>
  </php>
  <testsuites>
    <testsuite name="functional">
      <file>./tests</file>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
  </listeners>
  <coverage>
    <include>
      <directory>./web/sites</directory>
      <directory>./web/core/includes</directory>
      <directory>./web/core/lib</directory>
      <directory>./web/core/modules</directory>
      <directory>./web/modules</directory>
    </include>
    <exclude>
      <directory>./web/core/modules/*/src/Tests</directory>
      <directory>./web/core/modules/*/tests</directory>
      <directory>./web/modules/*/src/Tests</directory>
      <directory>./web/modules/*/tests</directory>
      <directory>./web/modules/*/*/src/Tests</directory>
      <directory>./web/modules/*/*/tests</directory>
    </exclude>
  </coverage>
</phpunit>
